/* FOOTER */
.footer {
    background: #c0707c;
    padding: 73px 0 62px;
}

.footer .container {
    display: grid;
    grid-template: repeat(2, auto) / repeat(3, auto);
    justify-content: space-between;
    align-items: center;
}

.rights {
    font-size: 12px;
    font-family: "Gilroy Regular";
    color: rgb(227, 172, 180);
    order: 4;
}

.instagram {
    display: flex;
    flex-direction: column;
    align-items: center;
    grid-area: 1 / 2 / 3 / 2;
}

.instagram svg {
    width: 35px;
    height: 35px;
    fill: white;
    padding-bottom: 15px;
}

.instagram svg:hover {
    cursor: pointer;
}

.instagram span {
    font-size: 16px;
    font-family: "Gilroy Bold";
    color: rgb(255, 255, 255);
}

.footer .contacts {
    grid-area: 1 / 3 / 3 / 3;
}



/* 425 - 539 */
@media screen and (max-width: 539px) {
    .footer {
        padding: 50px 0 50px;
    }

    .footer .container {
        display: flex;
        flex-direction: column;
        gap: 40px;
    }

    .footer .contacts {
        order: 2;
    }

    .footer .instagram {
        order: 3;
    }
}
