<section class="advantages bg-lightpink" id="advantages" #advantagesElement>
    <div class="container">
        <article class="advantages-title">
            <div class="advantages-description">
                <h2>Мы печём для вас вкуснейшие макаруны уже более 10 лет</h2>
                <p>
                    Все пироженки мы готовим только из натуральных и качественных продуктов, без консервантов,
                    ароматизаторов, красителей. Используем в приготовлении сливочное масло 82,5%, без дрожжей, маргарина,
                    разрыхлителей и улучшителей муки.
                </p>
            </div>
            <div class="advantages-image">
                <img src="assets/images/big-macaroon.png" alt="Macaroon">
            </div>
        </article>
        <article class="advantages-items">
            <div class="advantages-item" *ngFor="let advantage of advantages; let i = index;">
                <div class="advantages-item-number">{{ i + 1 }}</div>
                <div class="advantages-item-title">{{ advantage.title }}</div>
                <div class="advantages-item-text">{{ advantage.text | shortDescription: 95 }}</div>
            </div>
        </article>
    </div>
</section>
