.product {
    border: 2px solid white;
    border-radius: 20px;
    padding: 0 19px 25px;
}

.product-image {
    height: 61px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    padding-bottom: 47px;
    transition: all 400ms;
}

.product h3 {
    font-size: 18px;
    color: rgb(255, 255, 255);
    padding-bottom: 26px;
}

.product-details {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.product-details span {
    font-size: 15px;
    font-family: "Gilroy Regular";
    color: rgb(255, 255, 255);
    display: block;
    text-align: left;
}

.product-details span:first-child {
    padding-bottom: 16px;
}

.button.product-button {
    width: 130px;
    height: 50px;
}

.product:hover .product-image {
    transform: scale(1.1);
}
