<section class="main bg-pink">
    <div class="container">
        <div class="main-info">
            <h1>Мягкие французские пироженки Macaroons</h1>
            <p>Побалуйте себя и своих близких самыми вкусными и ароматными домашними пироженками Macaroon!</p>
            <button class="button button-main" (click)="scrollTo(productsElement)">Выбрать макарун</button>
        </div>
        <div class="main-image">
            <img src="assets/images/macaroons-main.png" alt="Macaroons">
        </div>
    </div>
</section>

<section class="advantages bg-lightpink" id="advantages" #advantagesElement>
    <div class="container">
        <article class="advantages-title">
            <div class="advantages-description">
                <h2>Мы печём для вас вкуснейшие макаруны уже более 10 лет</h2>
                <p>
                    Все пироженки мы готовим только из натуральных и качественных продуктов, без консервантов,
                    ароматизаторов, красителей. Используем в приготовлении сливочное масло 82,5%, без дрожжей, маргарина,
                    разрыхлителей и улучшителей муки.
                </p>
            </div>
            <div class="advantages-image">
                <img src="assets/images/big-macaroon.png" alt="Macaroon">
            </div>
        </article>
        <article class="advantages-items">
            <div class="advantages-item" *ngFor="let advantage of advantages; let i = index;">
                <div class="advantages-item-number">{{ i + 1 }}</div>
                <div class="advantages-item-title">{{ advantage.title }}</div>
                <div class="advantages-item-text">{{ advantage.text }}</div>
            </div>
        </article>
    </div>
</section>

<section class="products bg-pink" id="products" #productsElement>
    <div class="container">
        <h2>Выберите свой макарун</h2>
        <article class="product-items">
            <figure class="product" *ngFor="let product of products">
                <div class="product-image">
                    <img [src]="'assets/images/' + product.image" alt="Product">
                </div>
                <h3>{{ product.name }}</h3>
                <div class="product-details">
                    <div class="product-info">
                        <span>{{ product.amount }} шт.</span>
                        <span>{{ product.price }} {{ product.currency }}</span>
                    </div>
                    <button class="button product-button" (click)="addToCart(product, orderElement)">Заказать</button>
                </div>
            </figure>
        </article>
    </div>
</section>

<section class="order bg-lightpink" id="order" #orderElement>
    <div class="container">
        <div class="order-image-berry" id="berry-1">
            <img src="assets/images/strawberry-1.png" alt="Strawberry">
        </div>
        <div class="order-image-berry" id="berry-2">
            <img src="assets/images/strawberry-2.png" alt="Strawberry">
        </div>

        <div class="order-image-main">
            <img src="assets/images/macaroons-order.png" alt="Macaroons">
        </div>
        <div class="order-form">
            <h2>Закажите макарун!</h2>
            <p>Выберите понравившийся макарун, заполните форму и ожидайте звонка нашего пекаря!</p>
            <h3>Ваш выбор</h3>
            <input type="text" placeholder="Напишите, что хотите заказать..." [(ngModel)]="formValues.productTitle">
            <h3>Заполните данные для заказа</h3>
            <input type="text" placeholder="Ваше имя" [(ngModel)]="formValues.name">
            <input type="text" placeholder="+375 (__) ___-__-__" [(ngModel)]="formValues.phone">
            <button class="button button-order" (click)="createOrder()">Оформить заказ</button>
        </div>
    </div>
</section>
