* {
    margin: 0;
    padding: 0;
}

@font-face {
    font-family: "Tavolga";
    src: url("./assets/fonts/tavolga-free.ttf");
}

@font-face {
    font-family: "Gilroy Regular";
    src: url("./assets/fonts/Gilroy-Regular.ttf");
}

@font-face {
    font-family: "Gilroy Medium";
    src: url("./assets/fonts/Gilroy-Medium.ttf");
}

@font-face {
    font-family: "Gilroy Bold";
    src: url("./assets/fonts/Gilroy-Bold.ttf");
}

@font-face {
    font-family: "Gilroy ExtraBold";
    src: url("./assets/fonts/Gilroy-Extrabold.ttf");
}


body {
    font-family: "Tavolga", sans-serif;
}

.container {
    max-width: 1140px;
    margin: 0 auto;
    padding: 0 15px;
}

.bg-pink {
    background: #eba8b1;
}

.bg-lightpink {
    background: #ffefef;
}
